################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyApp/.vs/MyApp
/MyApp/MyApp/obj
